.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.c-sample-canvas {
  height: 400px;
}

.c-area-chart-sample {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.c-tooltip {
  font-size: 12px;
  height: 70px;
  background-color: #FFF;
  border-radius: 5px;
  color: #333;
  padding: 16px;
  margin: 16px;
}

.c-tooltip__value {
  display: block;
  flex: 1 0 150px;
  text-align: left;
}

.c-tooltip__values {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.c-text {
  font-size: 12px;
}

.c-filter-btn {
  color: white;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-weight: bold;
}
